DB_NAME=cafe_de_barrio
DB_USER=postgres
DB_PASSWORD=change_me_postgres_password
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=change_me_admin_password
JWT_SECRET=change_me_use_at_least_32_random_characters_for_jwt_secret
PGADMIN_EMAIL=admin@cafedebarrio.com
PGADMIN_PASSWORD=change_me_pgadmin_password
